apiVersion: v1
kind: Service
metadata:
  name: hardhat-service
  namespace: default
spec:
  type: {{ .Values.service.type }}
  selector:
    app: edge_ai
  ports:
    - name: port-5000
      port: {{ .Values.service.ports.port5000 }}
      targetPort: {{ .Values.service.ports.port5000 }}
      nodePort: {{ .Values.service.ports.nodePort5000 }}
    - name: port-8080
      port: {{ .Values.service.ports.port8080 }}
      targetPort: {{ .Values.service.ports.port8080 }}
      nodePort: {{ .Values.service.ports.nodePort8080 }}
