# values.yaml

replicaCount: 1

image:
  repository: commonpoc.azurecr.io/hardhat_detection
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  ports:
    port5000: 5000
    port8080: 8080
    nodePort5000: 30004
    nodePort8080: 30005

resources:
  limits:
    nvidia.com/gpu: 1

runtimeClassName: nvidia

imagePullSecrets:
  - name: azure-acr

volumes:
  - name: data-volume
    emptyDir: {}

nodeSelector: {}

tolerations: []

affinity: {}

dockerRegistry:
  enabled: true
  secretName: azure-acr
